* {
  margin: 0;
  padding: 0;
  box-sixing: borderbox;
  font-family: "Fonarto Regular", Serif;

}

body{
  min-height: 100vh;
  background: linear-gradient(
  180deg,
  rgb(58, 60, 65), #232425);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  background-color: rgba(229, 142, 230, .8);
  padding: 3em 3em;
  border-radius: 5em;
  border: none;
}

.title{
  color: white;
  font-size: 5em;
  font-weight: lighter;
}

hr{
  background-color: white;
  width: 100%;
  height: .2em;
  border-radius: 1em;
  border: none;
}

.timer{
  font-size: 20em;
  color: white;
}

.button-wrapper{
  display: flex;
  gap: 1em;
}

button{
  color: white;
  font-size: 2em;
  letter-spacing: 1px;
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  border: none;
  cursor: 8;
  transition: 0.2s ease-in-out;
}
button:hover{
  transform: translateY(-10px);
}

#start{
background-color: greenyellow;
}

#stop{
  background-color: red;
}
#reset {
  background-color: dodgerblue;
}

